@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
body{
background-color: #1e1e2f;    
color:#b0b3c3 ;
}
a {
    margin-left: 15px;
  color: #00d1b2; 
  text-decoration: none; 
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}
.Website-name {
  font-size: 32px;
  color:#b0b3c3 ;
  color: ;
  font-family: 'flori', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p{
    width: 1000px;
    font-size: 20px;
    background-color: #2a2a40;;
    padding: 12px;
}
.Experiance{
    width: 295px;
    font-size: 16px;
    background-color: #2a2a40;;
    padding: 12px;
}
.Education{
    width: 295px;
    font-size: 16px;
    background-color: #2a2a40;;
    padding: 12px;
}
.btn {
cursor: pointer;
align-items: center;
justify-content: center;
border: 3px solid rgb(187, 204, 0);
font-family: "system-ui";
font-size: 14px;
color: rgb(255, 255, 255);
padding: 10px 30px;
transition: 2s;
width: 335px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 42px 7px 50px 50px;
background: linear-gradient(90deg, rgb(0, 102, 204) 0%, rgb(197, 0, 204) 100%);
}

.btn:hover{
color: rgb(255, 255, 255);
width: 337px;
background: rgb(0, 102, 204) none repeat scroll 0% 0% / auto padding-box border-box;
border-color: rgb(204, 0, 105);
border-width: 2px;
border-style: solid;
}
