<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
     <div class="main">
        <div class="top">
          <div class="Logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Awesome_Cargo_logo.png/1200px-Awesome_Cargo_logo.png" alt="Company Logo" class="Logo">
          </div>
          <div class="menu">
            <ul class="navbar">
              <li><a class="li" href="./index.html">Home</a></li>
              <li><a class="li" href="">Portal</a></li>
              <li><a class="li" href="./About us.html">About us</a>
            </li>
            </ul>


          </div>
          <div class="search">
            <input type="text" placeholder="search" class="search-box" >
            <button class="search-btn">&#128269;</button>
          </div>
        </div>
        
        <div>
          <div class="about-us">About us</div>
        </div>
        
        <div class="middle-aboutus">
          <div class="about-usleft">
              <div class="p-aboutus">
                <div><p class="aboutus-text">We are a trusted cargo service provider offering reliable, fast, and secure shipping solutions. Whether by air, sea, or land, our goal is to ensure your goods are delivered safely and on time, locally and internationally. With a commitment to customer satisfaction, we make logistics simple and hassle-free</p></div>
              </div>
              <div class="img-aboutus">
                <img class="p-image2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaldb3GShrSkNaWagc8mokjahFyU0V-4lJvQ&s" alt="">
              </div>
            </div>
          </div>
          <div class="center">
            <div class="contact-us">
              <div class="contact-id">
                
              </div>
            </div>

          </div>
       
        
</div>


     </div>

</body>
</html>