<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" type="x-icon" href="/AZWA&IZVA.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/Layout/Style.css" />
  </head>
  <body>
    <div class="main">
      <div class="top">
        <div class="navbar">logo</div>
        <div class="navbar">menu</div>
        <div class="navbar">search</div>
      </div>
      <div class="products">
        <div class="product featured-product">product1</div>
        <div class="product">product2</div>
        <div class="product">product3</div>
      </div>
      <div class="welcome">welcome</div>
      <div class="images">
        <div>image1</div>
      </div>
    </div>
  </body>
</html>
