<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Layout</title>
  <link rel="stylesheet" href="Style.css">
</head>
<body>
     <div class="main">
        <div class="top">
          <div class="Logo">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Awesome_Cargo_logo.png/1200px-Awesome_Cargo_logo.png" alt="Company Logo" class="Logo">
          </div>
          <div class="menu">
            <ul class="navbar">
              <li><a class="li" href="./">Home</a></li>
              <li><a class="li" href="">Portal</a></li>
              <li><a class="li" href="./About us.html">About us</a>
            </li>
            </ul>


          </div>
          <div class="search">
            <input type="text" placeholder="search" class="search-box" >
            <button class="search-btn">&#128269;</button>
          </div>
        </div>
        
        <div class="Welcome" ><h2>Welcome To Our Cargo servives</h2></div>
        
        <div class="middle">
          <div class="left">
              <div class="products1">
                <img class="p-image1" src="https://www.valuehandlers.com/images/2.jpg" alt="p-image1">
              </div>
              <div class="products2">
                <img class="p-image1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE1EF5rnLEcYRQHv4GqZOGXKJIMVLr2BPeDQ&s" alt="">
              </div>
            </div>
            
          <div class="right">
            <div class="para"><p>We provide reliable and efficient cargo services tailored to meet your international and domestic shipping needs. Whether it's air, sea, or land freight, our team ensures timely delivery, secure handling, and real-time tracking for your goods. From small packages to large shipments, we offer customized solutions with competitive pricing and excellent customer support to keep your logistics smooth and hassle-free.</p></div>
          </div>
       
        
</div>


     </div>

</body>
</html>